.portfolio{
    .wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 7%;
        img{
            border-radius: 4px;
        }
        
        @media (max-width : 992px){
          &{
              grid-template-columns: repeat(2, 1fr);
          }
        
        }
        @media (max-width : 640px){
           &{
                display: flex;
                flex-direction: column;
                gap: 7vh;
                align-items: center;
            }
        }
    }
   
}