.about_me{
    padding: 100px 0;
    font-weight: 400;
    background-color: var(--colorWhite);
    position: relative;
    color: var(--colorBlack);
    h2{
        margin: 0 0 0 0;
        padding: 0 0 20px 0;
    }
    
    .wrapper{
        display: flex;
        gap: 100px;
        .left{
            flex-basis: 55%;
        }
        .right{
            flex-basis: 45%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .description{
            font-size: 20px;
        }
    }




    @media (max-width : 992px){
        &{
            .wrapper{
                gap: 50px;
                .left{
                    flex-basis: 45%;
                }
                .right{
                    flex-basis: 55%;
                    
                }
            }
        }
    }

    @media (max-width : 680px){
       &{
            .wrapper{
                flex-direction: column;
                
        }
    }
}
}
        
  
