.about_me{
    font-weight: 400;
    background-color: var(--colorWhite);
    position: relative;
    color: var(--colorBlack);
    &::after{
        position: absolute;
        content: '';
        background: var(--redGradient);
        border-radius: 50%;
        filter: blur(400px);
        z-index: -1; /* Чтобы объект был фоном */
        display: block;
        width: 80%;
        height: 80%;
        left: 50%;
        top: 40%;
        transform: translate(-50%, 0%);
    }
    
    
    .wrapper{
        display: flex;
        position: relative;
        gap: 100px;
        
        .left{
            flex-basis: 55%;
        }
        .right{
            flex-basis: 45%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .description{
            font-size: 20px;
        }
    }
    @media (max-width : 992px){
        &{
            .wrapper{
                flex-direction: column-reverse;   
                gap: 40px; 
            }
        }
    }
    @media (max-width : 680px){
       
    }
    @media (max-width : 430px){
        &::after{
            filter: blur(300px);
            width: 90%;
            height: 110%;
        }
    }

}

    




